<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div
        class="w-full bg-cyan-900 text-center h-screen flex justify-center items-center"
      >
        <div
          class="px-5 py-5 border bg-opacity-30 bg-teal-400 rounded-md shadow-lg"
        >
          <form method="POST" action="getpost" class="flex flex-col gap-3">
            {% csrf_token %}
            <input
              name="username"
              type="text"
              class="bg-cyan-400 text-center"
              placeholder="username"
            />
            <input
              name="password"
              type="password"
              class="bg-cyan-400 text-center"
              placeholder="password"
            />
            <button
              type="submit"
              class="bg-green-600 h-12 px-2 shadow-xl"
              value="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </header>
    {% if logger %}
    <script>
      async function test() {
        await new Promise((resolve) => setTimeout(resolve, 1000));
        window.alert("{{ logger }}");
      }
      test();
    </script>
    {% endif %}
  </body>
</html>
