<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <div
        class="w-full bg-ship bg-cover bg-center text-center h-screen flex justify-center items-center"
      >
        <div
          class="bg-logo bg-cover bg-center h-16 w-16 absolute left-1 top-1"
        ></div>
        <div
          class="px-5 py-5 border bg-opacity-30 bg-teal-400 rounded-md shadow-lg"
        >
          <form
            method="POST"
            action="73wyquihsah32okdshfjklqkdjai"
            class="flex flex-col gap-3"
          >
            {% csrf_token %}
            <input
              name="username"
              id="username"
              type="text"
              class="bg-transparent border-x-2 border-y-2 text-center placeholder:text-white"
              placeholder="username"
            />
            <input
              name="password"
              id="password"
              type="password"
              class="bg-transparent border-x-2 border-y-2 text-center placeholder:text-white"
              placeholder="password"
            />
            <button
              type="submit"
              class="bg-green-600 h-12 px-2 shadow-xl"
              value="submit"
            >
              Submit
            </button>
          </form>
        </div>
      </div>
    </header>
    {% if logger %}
    <script>
      async function test(timer) {
        await new Promise((resolve) => setTimeout(resolve, timer));
        window.alert("{{logger}}");
      }
    </script>
    {%endif%}
  </body>
</html>
