<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <link rel="stylesheet" href="/login/dist/output.css" />
    <script
      src="https://kit.fontawesome.com/79edbae9f9.js"
      crossorigin="anonymous"
    ></script>
    <title>{{owner}}'s Ship Dashboard</title>
  </head>
  <body>
    <header>
      <div
        class="bg-blue-800 w-full px-8 py-2 flex justify-between items-center"
      >
        <div class="bg-logo h-16 w-16 bg-cover bg-center"></div>
        <h1 class="text-clamp text-blue-300 font-bold">
          Ship Monitoring System
        </h1>
        <a class="fa-solid fa-user w-10 h-10 text-blue-400 cursor-pointer"></a>
      </div>
      <div
        class="bg-black w-full px-8 py-2 flex justify-between items-center text-white"
      >
        <h2 class="text-base">Hello, {{owner}}</h2>
        <a
          href=""
          class="fa-solid fa-right-from-bracket h-4 w-4 text-white text-base cursor-pointer"
          >Log-Out</a
        >
      </div>
    </header>
    <main
      class="flex py-10 px-4 mb-20 justify-center gap-4 flex-col items-center"
    >
      {% for i in ship%}
      <div class="flex flex-col w-4/5 gap-0 justify-center items-center">
        <div
          class="bg-gray-400 w-full px-2 py-2 flex justify-between items-center rounded-lg cursor-pointer hover:bg-blue-300"
          id="ship_{{i.id}}"
        >
          <h6 class="font-bold text-black">{{i.ship_name}}</h6>
          <i class="fa-solid fa-gear h-4 w-4"></i>
        </div>
        <div
          class="flex w-full bg-blue-100 flex-col mx-2 my-2 items-center justify-center"
        >
          <h3 class="text-sm text-center">
            Fuel Level = {{i.fuel}}/{{i.max_fuel}}
          </h3>
          <div class="w-12 h-36 bg-black flex justify-end items-end">
            <div class="w-12 bg-blue-500" style="height: {{i.level}}%;"></div>
          </div>
        </div>
      </div>
      {% endfor %}
    </main>
    <footer>
      <div class="fixed bottom-0 w-full bg-blue-800 flex justify-end px-4 py-4">
        <h2 class="text-blue-300 text-base">Developed by ITS</h2>
      </div>
    </footer>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
    <script>
      const ship1 = document.getElementById("ship_1");
      ship1.addEventListener("click", shipclk);
      function shipclk() {
        ship1.style.display = "flex";
      }
    </script>
  </body>
</html>
