<!DOCTYPE html>
<html lang="en">
  <head>
    {% load static %}
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="{% static 'output.css' %}" />
    <link rel="stylesheet" href="/login/dist/output.css" />
    <script
      src="https://kit.fontawesome.com/79edbae9f9.js"
      crossorigin="anonymous"
    ></script>
    <title>Document</title>
  </head>
  <body>
    <header>
      <div class="bg-blue-700 w-full flex justify-between items-center">
        <h1 class="text-center text-yellow-400">Ship Monitor</h1>
        <h2 class="font-bold text-red-500 text-3xl">Hello</h2>
        <i class="fa-solid fa-wand-magic-sparkles text-white w-8 h-8"></i>
      </div>
    </header>
    <main></main>
    <footer></footer>
    <script
      src="https://code.jquery.com/jquery-3.6.1.js"
      integrity="sha256-3zlB5s2uwoUzrXK3BT7AX3FyvojsraNFxCc2vC/7pNI="
      crossorigin="anonymous"
    ></script>
  </body>
</html>
